//
// Add whatever variables you would like made available to the whole app
//
$black: #040404
$white: white
$darkBlue: #2c3e50
$green: #16a085
$red: #c0392b
$primary: #2c3e50
$secondary: #34495e
$light: #ecf0f1
$muted: #bdc3c7
