<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  link(rel="stylesheet", href="assets/css/main.css")
  title Twitchtv API
body
  .container
    h1 Playing with Twitchtv API
    p#queryMsg w
    table.table.table-stripped.table-inverse.table-hover
      tr
        td.logo
          img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_image-d9514f2df0962329-300x300.png")
        td.userInfo
          .username Username: FreeCodeCamp
          .bio Bio: We help you learn to code, then practice by building projects for nonprofits. Learn Full-stack JavaScript, build a portfolio, and get a coding job by joining our open source community at https://freecodecamp.com
          .views Views: 2316514
          .followers Followers: 3216574
        td.stream
          .status Online
          .title Streaming: Greg working on Electron-Vue boilerplate w/ Akira #programming #vuejs #electron
          .game Dota 2
          .viewers Viewers: 46879
          .preview 
            img(src="https://static-cdn.jtvnw.net/previews-ttv/live_user_superplay-320x240.jpg")
      tr
        td.logo
          img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_image-d9514f2df0962329-300x300.png")
        td.userInfo
          .username Username: FreeCodeCamp
          .bio Bio: We help you learn to code, then practice by building projects for nonprofits. Learn Full-stack JavaScript, build a portfolio, and get a coding job by joining our open source community at https://freecodecamp.com
          .views Views: 2316514
          .followers Followers: 3216574
        td.stream
          .status Offline
          .title Last stream: Greg working on Electron-Vue boilerplate w/ Akira #programming #vuejs #electron
          .viewers Viewers: 46879
          .preview 
            img(src="https://static-cdn.jtvnw.net/previews-ttv/live_user_superplay-320x240.jpg")
            
          
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous")
  script(src="assets/js/functions.js")
