<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css")
  link(rel="stylesheet", href="assets/css/main.css")
  title Twitch-Stream-Checker
body
  .container
    h1 Twitch Stream Checker
    .ajaxMsg
      p#queryMsg 
      p#errorMsg 
    .streamMenu
      .streamFilter
        .allStreams.filter All
        .onlineStreams.filter Online
        .offlineStreams.filter Offline
        .searchField Filter: 
          input#filterTxt(type="text", placeholder="Enter a name")
        .refresh Refresh
          span.octicon.octicon-sync
    .streamsContainer.hide
    
    
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src="assets/js/scripts.js")
