<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css")
  link(rel="stylesheet", href="assets/css/main.css")
  title Twitch-Stream-Checker
body
  .container
    h1 Playing with Twitchtv API
    .ajaxMsg
      p#queryMsg 
      p#errorMsg 
    .streamsContainer
      .streamContainer
        .basicInfos
          .logo
            img(src="https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_image-d9514f2df0962329-300x300.png")
          .infos
            h2.userName FreeCodeCamp
            p.bio 
            .icons
              .views
                span.octicon.octicon-eye 
                span  1654
              .followers 
                span.octicon.octicon-person
                span  1657
                
          .status 
            .indicator
              span.octicon.octicon-device-camera-video.offline
            .moreInfo
              span.octicon.octicon-plus
              span.octicon.octicon-dash.hide

        .streamingContainer
          hr
          .streaming
            .banner
              img(src="https://static-cdn.jtvnw.net/previews-ttv/live_user_superplay-320x240.jpg")
            .streamInfos
              h4.statusName Greg working on Electron-Vue boilerplate w/ Akira #programming #vuejs #electron
              p.game Dota 2
              .viewers 
                span.octicon.octicon-octoface 
                span  1567
          
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src="assets/js/functions.js")
