html
  overflow-y: scroll

.container
  width: 960px
  margin: auto

  h1
    text-align: center
    color: $primary

  .ajaxMsg
    height: 25px
    margin-bottom: 10px
    position: relative
    p
      position: absolute
      width: 100%
      text-align: center
      top: 0px
      margin: 0
    p#errorMsg
      color: $red

  .streamMenu
    margin: auto
    margin-bottom: 10px
    .streamFilter
      margin-top: 20px
      display: flex
      background-color: $primary
      color: $white
      font-size: 1.2em
      height: 40px
      font-weight: bold
      justify-content: space-around
      align-items: center
      border-radius: 4px
      .filter
        width: 150px
        height: 100%
        line-height: 40px
        text-align: center
        cursor: pointer
        &:hover
          background-color: $white
          color: $primary
          box-shadow: inset 0px 0px 0px 1px $primary

    .searchField
      width: 400px
      font-weight: normal
      display: flex
      input
        border-radius: 4px
        margin-left: 10px
        padding: 0px 10px
        border: 1px solid $primary
        color: $primary
        @include placeholder
          opacity: 1
          color: $primary
        &:focus
          border: 1px solid $primary
          box-sizing: border-box
          outline: none


    .refresh
      @extend .filter
      text-align: center
      cursor: pointer
      span
        font-size: 1em
        margin-left: 15px
      &:hover
        background-color: $white
        color: $primary
        box-shadow: inset 0px 0px 0px 1px $primary


  .streamsContainer

    color: $primary

    .errorContainer
      height: 150px
      background-color: lighten($primary, 45%)!important
      display: flex
      align-items: center
      .errorMessage
        background-color: $primary
        text-align: center
        width: 100%
        height: 50px
        line-height: 50px
        font-size: 1.4em
        color: $lightgrey
        span
          margin-right: 10px
          font-size: 1em

    .streamContainer, .errorContainer
      background-color: $white
      border: 2px solid $primary
      position: relative
      margin-bottom: 3px
      border-radius: 5px


      .basicInfos
        display: flex
        z-index: 10
        height: 150px
        position: relative

        .logo
          img
            margin: 25px 25px
            width: 100px
            height: auto

        .infos
          margin-right: 10px
          width: 700px

          h2.userName
            margin: 10px auto 0px 20px

          p.bio
            margin: 5px auto 10px 10px
            font-size: 0.84em
            height: 40px

          .icons
            display: flex
            width: 470px
            margin: 0 auto 0 20px
            justify-content: space-around
            font-size: 0.9em
            span.octicon
              margin-right: 7px
            a
              text-decoration: none
              color: $primary
              font-style: italic
              &:hover
                text-decoration: underline

        .status
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          padding: 0px 10px
          position: absolute
          right: 0px
          width: 70px
          height: 150px
          .indicator
            span
              font-size: 1.8em
              padding: 10px 10px
              color: $white
              &.online
                color: $green
              &.offline
                color: $red
          .moreInfo
            cursor: pointer
            position: absolute
            bottom: 15px
            span
              margin: auto
              font-size: 1.5em


      .streamingContainer
        display: none
        hr
          width: 40%
          margin: auto
          border: 1px solid $primary
          opacity: 0.3
        .noStream
          text-align: center
          font-style: italic
        .streaming
          display: flex
          z-index: -50
          height: 150px

          .banner
            img
              height: 130px
              width: auto
              margin: 10px 10px

          .streamInfos
            .previousStream, .nowStreaming
              margin: 20px auto 0px 10px
              font-style: italic

            .statusName
              margin: 10px auto 0px 20px

            .game
              margin: 0px auto 0 25px
              font-style: italic

            .viewers
              margin: 10px 25px
              span.octicon
                margin-right: 10px

.reverse
  transform: rotate(180deg)

.hide
  display: none
